
.home{
    position: relative;
    overflow-y: hidden;
    &.home-style-4{
        height: 100vh;
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }
    &.bg_image--12{
        background: url('../img/home/main_bg.png');
    }
    
    &.bg_image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .container-fluid{
        .row{
            justify-content: center;

            .home_button{
                position: absolute;
                bottom: 5%;
                button{
                    background-color: map-get($color , "colorbtn" );
                    padding: 10px 30px 10px 30px;
                    border: none;
                    outline: none;
                    border-radius: 7px;
                    transition: all ease .4s;
                    a{
                        color: map-get($color , "color1" );
                        font-size: 24px;
                        text-transform: uppercase;
                    }
                    &:hover{
                        background-color: map-get($color , "color4e" );
                        & a{
                            color: map-get($color , "colorcc" );
                        }
                    }
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    padding: 50px 0px 0px 0px;
                    li{
                        a{
                            i{
                                font-size: 33px;
                                color: map-get($color , "colorbtn" );
                                transition: all ease .4s;
                                &:hover{
                                    color: map-get($color , "color1" );
                                }
                            }
                       }
                    }
                }
            }
        }
    }
}
.home_bottom{
    position: relative;
    overflow-y: hidden;
    &.home_bottom-style-4{
        height: 93vh;
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }
    &.bg_image--12{
        background-image: url('../img/home/home_bottom.png');
    }
    &.bg_image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .container-fluid{
        .row{
            .bottom_content{
                width: 60%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 0 40px;
                h1{
                    font-size: 142px;
                    font-family: $fontTenor;
                    color: map-get($color , "color1" );
                    font-weight: 400;
                }
                h2{
                    font-size: 122px;
                    font-family: $fontFutura;
                    color: map-get($color , "color1" );
                    font-weight: lighter;
                }
                p{
                    font-family: $fontFutura;
                    font-size: 14px;
                    color: map-get($color , "color1" );
                    text-align: justify;
                    width: 80%;
                    line-height: 1.6;
                }
            }
        }
    }
    
}