.register{
    position: relative;
    overflow: hidden;
    &.register-style-4{
        height: 100vh;
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }
    &.bg_image--12{
        background-image: url('../img/register/main_bg.png');
    }
    &.bg_image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .container-fluid{
        .row{
            justify-content: flex-start;
            width: 50%;
            padding-left: 5%;
            h3{
                font-size: 90px;
                font-family: $fontTenor;
                color: map-get($color , "color1" );
                text-transform: uppercase;
                padding-bottom: 4%;
                text-align: center;
            }
            .res_left{
                display: flex;
                flex-direction: column;
                .alert_validation{
                    width: 471px;
                }
                input,select{
                    width: 471.9px;
                    height: 58.54px;
                    border-radius: 7px;
                    padding: 10px;
                    margin-bottom: 30px;
                    outline: none;
                    border: none;
                    color: map-get($color , "color1" );
                    background: map-get($color , "colorbtn" );
                }
                input::placeholder{
                    color: map-get($color , "colorc1" );
                    font-family: $fontFutura;
                    padding-left: 10px;
                    font-size: 20px;
                }
                input:focus{
                    padding: 10px;
                }
                input:last-child{
                    margin-bottom: 0px;
                }
                select{
                    cursor: pointer;
                    option{
                        outline: none;
                        border: none;
                        font-family: $fontTenor;
                        font-size: 20px;
                        background: #383A4E;
                        border-radius: 7px;
                        cursor: pointer;
                    }
                }
                .form_report{
                    position: relative;
                    &.valid .indicator{
                        border: map-get($color , "indicator1" );
                        box-shadow: 0 0 1px map-get($color , "indicator1" ),
                                    0 0 2px map-get($color , "indicator1" ),
                                    0 0 3px map-get($color , "indicator1" ),
                                    0 0 4px map-get($color , "indicator1" );
                    }
                    &.invalid .indicator{
                        border: map-get($color , "indicator2" );
                        box-shadow: 0 0 1px map-get($color , "indicator2" ),
                                    0 0 2px map-get($color , "indicator2" ),
                                    0 0 3px map-get($color , "indicator2" ),
                                    0 0 4px map-get($color , "indicator2" );
                    }
                }
                .inputBox{
                    padding-bottom: 30px;
                }
            }
            
        }
        .res_btn{
            display: flex;
            justify-content: center;
            button{
                background-color: map-get($color , "colorbtn" );
                padding: 10px 30px 10px 30px;
                margin-top: 2em;
                border: none;
                outline: none;
                border-radius: 7px;
                transition: all ease .4s;
                a{
                    color: map-get($color , "color1" );
                    font-size: 24px;
                    text-transform: uppercase;
                }
                &:hover{
                    background-color: map-get($color , "color4e" );
                    & a{
                        color: map-get($color , "colorcc" );
                    }
                }
            }
        }
    }
}

