$radius: 5px;
.reservation_section{
    overflow: hidden;
    background-image: url('../img/reservation/main_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 7rem);
    position: relative;

    .container{
        padding: 14rem 0px 0px 0px;
        .contact_text{
          font-size: 55px;
          color:  map-get($color , "color1" );
          font-family: $fontTenor;
          margin: 0px auto;
          text-align: center;
          padding-bottom: 20px;
      }
        .row{
            justify-content: center;
            align-items: center;
            button{
                background-color: map-get($color , "colorbtn" );
                padding: 10px 30px 10px 30px;
                margin-top: 2em;
                border: none;
                outline: none;
                border-radius: 7px;
                transition: all ease .4s;
                a{
                    color: map-get($color , "color1" );
                    font-size: 24px;
                    text-transform: uppercase;
                }
                &:hover{
                    background-color: map-get($color , "color4e" );
                    & a{
                        color: map-get($color , "colorcc" );
                    }
                }
            }
            .res_left{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;
                input,select{
                    width: 100%;
                    height: 48.54px;
                    border-radius: 7px;
                    padding: 10px;
                    margin-bottom: 30px;
                    outline: none;
                    border: none;
                    font-size: 2rem;
                    color: map-get($color , "color1" );
                    background: map-get($color , "colorbtn" );

                }
                input::placeholder{
                    color: map-get($color , "colorc1" );
                    font-family: $fontFutura;
                    padding-left: 10px;
                    font-size: 20px;
                }
                input:focus{
                    padding: 10px;
                }
                select{
                    cursor: pointer;
                    option{
                        outline: none;
                        border: none;
                        font-family: $fontTenor;
                        font-size: 20px;
                        background: #383A4E;
                        border-radius: 7px;
                        cursor: pointer;
                    }
                }
                // input:last-child{
                //     margin-bottom: 0px;
                // }
                .card_number{
                  position: relative;

                  #logo{
                    width: 46px;
                    height: 30px;
                    position: absolute;
                    top: 15px;
                    right: 7px;
                  }

                }
            }
            .res_right{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                #calendar{
                    width: 500px;
                    padding: 5px;
                    margin: 20px;
                    background: map-get($color, "colorbtn" );
                    border-radius: $radius;
                    overflow: hidden;
                    .calendar--nav {

                        padding: 0 15px;
                        color: #fff;
                        height: 60px;
                        position: relative;

                        a {
                          position: absolute;
                          cursor: pointer;
                          left: 10px;
                          font-size: 32px;
                          line-height: 1;
                          top: 16px;
                          width: 30px;
                          text-align: center;
                          display: inline-block;
                          color: transparentize(#fff, 0.6);
                          user-select: none;

                          &:hover {
                            color: #fff;
                          }

                          &:last-child {
                            left: auto;
                            right: 10px;
                          }
                        }

                        h1 {
                          margin: 0;
                          position: absolute;
                          left: 40px;
                          right: 40px;
                          text-align: center;
                          cursor: pointer;
                          font-weight: 400;
                          font-size: 30px;
                          line-height: 66px;
                          user-select: none;
                        }

                        small {
                          font-weight: 300;
                          font-size: 60%;
                        }
                      }
                    .calendar--days {
                        font-size: 0;

                        span {
                          width: 14.28571%;
                          display: inline-block;
                          text-align: center;
                          user-select: none;
                          cursor: pointer;
                          margin: 8px 0;
                          line-height: 20px;
                          position: relative;
                          font-size: 16px;

                          &.label {
                            text-transform: uppercase;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.3);
                            font-size: 14px;
                            cursor: initial;
                          }

                          &.active {
                            font-weight: 700;
                            background-color: transparentize(#36060d, 0.95);
                            border-radius: $radius;
                          }

                          &.muted {
                            color: rgba(0, 0, 0, 0.3);
                          }

                          &.between {
                            border-radius: 0;
                          }

                          &.start, &.between, &.end {
                            background-color: map-get($color, "colorbtn" );
                            color: #fff;
                          }

                          &.start {
                            border-radius: $radius 0 0 $radius;
                          }

                          &.end {
                            border-radius: 0 $radius $radius 0;
                          }

                          &.start.end {
                            border-radius: $radius;
                          }

                          &.between:nth-child(7n):after, &.start:nth-child(7n):after {
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 100%;
                            background-color: map-get($color, "colorbtn" );
                            width: 20px;
                          }

                          &.between:nth-child(7n + 1):after, &.end:nth-child(7n + 1):after {
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 100%;
                            background-color: map-get($color, "colorbtn" );
                            width: 20px;
                          }

                          &.start.end:after {
                            display: none;
                          }
                        }
                    }
                }

            }

        }
        .res_btn{
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
            button{
                background-color: rgba(255, 255, 255, 0.31);
                padding: 10px 30px 10px 30px;
                margin-top: 2em;
                border: none;
                outline: none;
                border-radius: 7px;
                -webkit-transition: all ease .4s;
                transition: all ease .4s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.11);
                }
                a{
                    color: #fff;
                    font-size: 24px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.visa {
  background: url("/img/company/100azn-45-2.png")
     no-repeat;
}
#ui-datepicker-div
{
    border-radius: 7px;
    width: 400px;
    border-radius: 7px;
}
